*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
}

/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:#020617;
}

.logo{
color:#38bdf8;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:white;
transition:0.3s;
}

.nav-links a:hover{
color:#38bdf8;
}


/* Hero */

.hero{
height:90vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.hero h1{
font-size:50px;
}

.hero span{
color:#38bdf8;
}

.hero p{
margin:20px 0;
font-size:18px;
}

.hero button{
padding:12px 25px;
border:none;
background:#38bdf8;
color:black;
cursor:pointer;
border-radius:5px;
}


/* About */

.about{
padding:80px 60px;
text-align:center;
}

.skills{
margin-top:40px;
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.skill-card{
background:#1e293b;
padding:15px 25px;
border-radius:6px;
}


/* Projects */

.projects{
padding:80px 60px;
text-align:center;
}

.project-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:40px;
}

.project-card{
background:#1e293b;
padding:25px;
width:250px;
border-radius:8px;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
}


/* Contact */

.contact{
padding:80px 60px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
gap:15px;
width:300px;
margin:auto;
}

input, textarea{
padding:10px;
border:none;
border-radius:5px;
}

button{
padding:10px;
background:#38bdf8;
border:none;
border-radius:5px;
cursor:pointer;
}


/* Footer */

footer{
text-align:center;
padding:20px;
background:#020617;
}
